<h2><%= @task.title %></h2>
<%= @task.details %>

<br><%= link_to "Back to tasks", tasks_path %>
<br><%= link_to "Edit a task", edit_task_path(@task) %>

<br><%= link_to "Delete this task",
            task_path(@task),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
